[submodule "vendor/lib/spdlog"]
	path = vendor/lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/lib/assimp"]
	path = vendor/lib/assimp
	url = https://github.com/assimp/assimp.git
