[submodule "vendor/lib/SDL"]
	path = vendor/lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/bin/premake/modules/export-compile-commands"]
	path = vendor/bin/premake/modules/export-compile-commands
	url = https://github.com/tarruda/premake-export-compile-commands
