# CMake / build system
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Premake leftovers
bin/
bin-int/
out/

# IDE / Editor
*.sublime-workspace
*.sublime-project
.vscode/
.vs/
.idea/

# Windows
*.exe
*.dll
*.pdb
Thumbs.db